<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}</title>
<meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<link rel="icon" href="{{ site.baseurl }}/favicon.ico">
<meta name="theme-color" content="#050816">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">

<meta property="og:title" content="{% if page.title %}{{ page.title }} | {% endif %}{{ site.title }}">
<meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
<meta property="og:type" content="website">
<meta property="og:url" content="{{ site.url }}{{ site.baseurl }}{{ page.url }}">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/og.jpg">
<meta name="twitter:card" content="summary_large_image">
